/* static/css/chat_room.css */

.card-body {
    background-color: #f0f0f0; /* 배경색 */
}

.message-container {
    font-weight: bold;
    background-color: #9FABCA; 
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 30%; /* 원하는 가로 너비로 설정 */
    word-wrap: break-word; /* 텍스트가 넘칠 경우 자동으로 줄바꿈 */
    order: -1; /* 메시지가 가장 앞으로 오도록 설정 */
}

