<!-- chat_room.html-->
{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat_room.css' %}">
    <title>chat_room</title>
</head>
<body>
{% include "navbar.html" %}
<div class="container mt-4" data-get-messages-url="{% url 'chat:get_messages' %}" data-send-message-url="{% url 'chat:send_message' %}">
    <div class="card">
        <div class="card-header">
            <strong>AI 챗봇과 대화하기</strong>
        </div>
        <div class="card-body">
            <div id="chat-log" class="form-control mb-3" style="height: 300px; overflow-y: scroll; background-color: #f0f0f0;">
            </div>
            <div class="input-group">
                <input id="chat-message-input" type="text" class="form-control" placeholder="Type a message">
                <div class="input-group-append">
                    <button id="chat-message-submit" class="btn btn-primary" type="button">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/chat_room.js' %}"></script>

</body>
</html>
